* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia';
  background-color: #212129;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #1A1A20;
  color: #fff;
  border-bottom: 1px solid #33333f;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h1.title span {
  color: #74DBE7;
}

.recuadro_home {
  position: relative;
  background-color: #33333F;
  border-radius: 5px;
  padding: 10px;
  margin-left: 25%;
  margin-top: 1%;
  margin-bottom: 0%;
  width: 50%;
  box-shadow: 15px 5px 7px #1A1A20 ;
  animation-duration: 0.7s;
  animation-name: libro_home;
  z-index: -1;
}

@keyframes libro_home  {
from{
  opacity: 0%;
  margin-top: -100%;
}
to{
  
  opacity: 100%;
}
}

.recuadro_home h1 {
  color: #ffffff;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.5;
}

.recuadro_home p {
  color: #ffffff;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
}

.nav_home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1 1.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: #000 transparent;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#toggleButton {
  display: none;
  background-color: #26252d;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 1rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  #toggleButton {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #1A1A20;
  }


  #navbar.show .nav-links {
    display: flex;
  }
}



.nav_home a:hover{
  background-color: #26252d;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  padding-left: 15px;
  padding-right:15px;
  cursor: pointer;
}
.nav_home a.active {
  background-color: #26252d;
  color: white;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

.contendor1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-eyes {
  width: 50px;
  height: 50px;
  margin-right: 0px;
  display: inline-block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1A1A20;
  color: #fff;
  border-top: 1px solid #33333f;
  
}
.contendor2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 80px;
}
h3.title1 span {
  color: #33333f;

}
.galatic_kuriboh {
  width: 50px;
  height: 50px;
margin-bottom: 1px;
  display: inline-block;
}

.akilu {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.galaxy_eyes {
  width: 80%;
  height: 80%;
  top:0px;
}

.carousel {
  position: relative;
  max-width: 200px;
  margin: 1% auto 10%;
  }

.carousel__img {
  display: none;
  width: 100%;
  height: auto;
}

.carousel__button {
  color: white;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color:#1A1A20;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
}

.carousel__button--left {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.carousel__button--right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel__button:hover {
  background-color: #33333F;
}